@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark: #141414;
    --moredarker: #0B0B0B;
    --blue: #273c69;
}